# Introducción a Python 

## Parte práctica

Se recomienda ejecutar paso a paso estas celdas para ir repasando Python. Esto será la base para poder avanzar en el curso de análisis de datos, por lo que también puedes agregar código o comentar las celdas para ir practicando y recordando la sintaxis.

### El comando "print ()"
Este comando nos muestra por pantalla lo que le entregamos como argumento. Ejemplo: si queremos ver el texto "Hola mundo":

In [1]:
# Si la línea comienza con "#" significa que es un comentario y el interprete no lo ejecutará
# Esta línea es un comentario
print ("Hola mundo")

Hola mundo

In [2]:
# aca tambien comentario
"""
Comentario multilínea:
Python
lo
ignorará
"""
print("hola")

hola

### Palabras Reservadas
Corresponden a ciertas palabras que poseen un significado predefinido en el lenguaje y por tanto no se pueden utilizar para nombrar variables. Podemos solicitar la lista de palabras reservadas en Python con:

In [3]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Variables
* Las variables tienen un nombre y se le asigna un valor
* Pueden ser de distinto tipo dependiendo del valor asignado
* Así cada variable corresponde a un **objeto**

Veamos algunos ejemplos

In [4]:
soy_un_numero = 22
soy_una_variable = "Repasando Python"

El uso de espacios para definir una variable es incorrecto

In [5]:
una varible = "Repasando Python"

SyntaxError: invalid syntax (<ipython-input-5-a8c687868ca8>, line 1)

### String
Un string es una cadena de caracteres y puede escribirse con comillas simples o dobles

In [5]:
nombre = 'Melissa'
apellido = "Alegría"
print (nombre)
print (apellido)

Melissa
Alegría


Para usar las comillas simples en un print se puede usar comillas simples o dobles, dependiendo de lo que se quiera imprimir

In [7]:
print('Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.')
print("Como la cadena ha sido creada con comillas dobles, las comillas simples (') aparecerán en el texto sin problema.")

Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.
Como la cadena ha sido creada con comillas dobles, las comillas simples (') aparecerán en el texto sin problema.

In [8]:
#Esto generará una error
print("Como la cadena ha sido creada con comillas simples, las comillas dobles (") aparecerán en el texto sin problema.")

SyntaxError: invalid syntax (<ipython-input-8-3610fba06dda>, line 2)

En los string se puede emplear los operadores suma (+) y multiplicación (*) para operar con las cadenas de caracteres. Con el primer operador concatenaremos las cadenas que estamos "sumando", mientras que con el segundo repetiremos la cadena tantas veces como el número que la multiplica.

In [9]:
#Concatenar string: Se debe asignar o concatener el espacio que separa los string Ej: string1 + " " + string2
print ("Mi nombre es " + nombre + " " + apellido)

Mi nombre es Melissa Alegría

Otra forma de obtener la misma salida es por interpolación

In [11]:
#Interpolación
apellido2 = "Arcos"
print ("Mi nombre es {} {} {}".format(nombre, apellido, apellido2))

Mi nombre es Melissa Alegría Arcos

In [12]:
# Además podemos asignar esta concatenación a una variable y repetir esta salida usando multiplcación (*).
# Notar que \n se refiere a un salto de línea
saludo = "Mi nombre es " + nombre + " " + apellido + "\n"
print (saludo)
print(3*saludo)

Mi nombre es Melissa Alegría

Mi nombre es Melissa Alegría
Mi nombre es Melissa Alegría
Mi nombre es Melissa Alegría

In [17]:
# Con variable.count se puede contar cuantas "s" tiene el string
print(nombre.count("s"))

2

In [18]:
#Además con len, es posible obtener el largo del string = len(variable)
print(len(apellido))

7

In [19]:
# Con upper(), podemos cambiar todo a mayúscula y con lower() todo a minuscula
print(nombre.upper())

MELISSA

In [20]:
print(nombre.lower())

melissa

In [21]:
cadena3 = nombre + " " + apellido
cadena3
a = cadena3.count("a")
a

2

Empleando las posiciones se puede acceder a los elementos de las cadenas de caracteres. Para ello, siempre hay que tener en cuenta que el primer elemento de la cadena está ubicado en la posición 0.

In [22]:
cadena = 'Repasando Python!'

print(cadena[0])
print(cadena[3])
print(cadena[12])
print(cadena[14])
print(cadena[15])

R
a
t
o
n

## Variables numéricas y operadores
### Tipos de Objeto
**Integer**: Corresponde a un número entero.

**Float**: Corresponde a un número decimal.

**Time**: Corresponde a una fecha y hora.

**Boolean**: Corresponde a True o False. Son el resultado de una evaluación.

**None**: corresponde a la ausencia de un valor.

In [25]:
entero = 5
flotante = 1.6

print(entero)
print(flotante)

5
1.6

Se puede operar con los dos tipos de variables utilizando los operadores suma (+), resta (-), multiplicación (*) y división (/). Debemos tener en cuenta que el resultado de cualquier operación realizada con variables flotantes será otra variable flotante. El resultado de cualquier operación realizada con variables enteras, será otra variable entera, a excepción de la división, que será flotante.

Operador | Nombre
:--------: | -------
+ | Suma
- | Resta  
* | Multiplicación
/ | División
**  | Potencia
%  | Módulo o residuo de división
// | división entera

Recordar el orden de las operaciones, primero las **potencias** luego **multiplicacion** o **division** o **módulo** y finalmente **suma** o **resta**

In [28]:
int1 = 5
int2 = 10
float1 = 5.0
float2 = 10.0

print(int1 + int2)
print(int1 - int2)
print(int1 * int2)
print(int2 / int1)
print('\n')
print(float1 + float2)
print(float1 - float2)
print(float1 * float2)
print(float2 / float1)

15
-5
50
2.0


15.0
-5.0
50.0
2.0

También es posible mezclar variables que son tipo intergers (enteras) y float (flotantes) en una operación. Sin embargo, notar que el resultado será de tipo float

In [29]:
print(int1 + float2)
print(int1 - float2)
print(int1 * float2)
print(float2 / int1)

15.0
-5.0
50.0
2.0

In [30]:
int1 = 100
int2 = 3
float1 = 5
float2 = 3.0

print(int1 ** int2)
print(int2 / int1)
print(int2 // int1)
print(int2 % int1)
print('\n')
print(float1 ** float2)
print(float2 / float1)
print(float2 // float1)
print(float2 % float1)
print(float1 + int1)

print(int2 // float1)

1000000
0.03
0
3


125.0
0.6
0.0
3.0
105
0

### Función type
Esta función nos mostrará el tipo de variable que estamos utilizando y se puede emplear para cualquier tipo de variable.

In [31]:
print(type(2))
print(type(2.0))

<class 'int'>
<class 'float'>

### Función input
Se puede obtener un valor que el usuario ingrese, ejemplo:

In [33]:
valor = int(input())

5

### Ejercicio Fahrenheit
Vamos a transformar la temperatura que ingrese el usuario en Fahrenheir y mostraremos la salida en celsius por pantalla

In [34]:
fahrenheit = int(input())
celsius = (fahrenheit + 40) / 1.8 - 40
print("La temperatura es de {} celsius".format(celsius))

78
La temperatura es de 25.555555555555557 celsius

## Conversion de tipos de variables
Utilizando las funciones int(), float() y str(), se pueden convertir las variables de un tipo a otro. 
Cuidado al convertir flotantes a enteros, o cadenas de caracteres a enteros o flotantes.

In [35]:
entero = 1
flotante = 1.9
cadena = '1'
cadena2 = '1.0'
cadena3 = 'Hello, world!'

print(type(entero))
entero_new = float(entero)
print(type(entero_new))
print('\n')
print(str(entero))
entero_str = str(entero)
print(type(entero_str))
print('\n')

<class 'int'>
<class 'float'>


1
<class 'str'>

In [39]:

flotante = 1.9
print(int(flotante))
print(str(flotante))

1
1.9

In [40]:
print(int(cadena))
cadena = int(cadena)
type(cadena)

1

int

In [41]:
cadena = float(cadena)
type(cadena)

float

In [45]:
cadena2= 1
print(cadena2)
# print(int(cadena2)) #Esta línea de código da error.
print(int(float(cadena2)))
print('\n')
# print(int(cadena3)) #Esta línea de código da error.
# print(float(cadena3)) #Esta línea de código da error.

1
1

## Operaciones de comparación

Operador | Nombre | Ejemplo | Resultado |
:--------: | :-------:| :--------: | :--------:
**==** | Igual a | 5 == 5 | True
**!=** | Distinto a | 5 != 5 | False
**>** | Mayor a | 6 > 6 | False
**>=** | Mayor o igual a | 6 >= 6 | True
**<**  | Menor a | 45 < 50 | True
**<=**  | Menor o igual a | 45 <= 44 | False

### Ejemplo para evaluar si un valor es mayor que otro usando **if**

In [50]:
valor1 = int(input("ingrese valor 1: "))

ingrese valor 1: 100

In [51]:
valor2 = int(input("ingrese valor 2: "))

ingrese valor 2: 50

In [55]:
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
else:
    print("no es mayor")

valor1 100 es mayor

### Ejemplo para evaluar si un valor es mayor que otro usando **if** y **else** en caso contrario

In [73]:
valor1 = int(input("ingrese valor 1: "))

ingrese valor 1: 10

In [74]:
valor2 = int(input("ingrese valor 2: "))

ingrese valor 2: 30

In [77]:
if valor1 >= valor2:
    if valor1 == valor2:
        print("son iguales")
    elif valor1 > valor2:
        print("valor1 {} es mayor".format(valor1))
else:
    print("valor2 {} es mayor".format(valor2))

valor2 30 es mayor

### ¿ Que pasa si ambos números son iguales?

In [78]:
valor1 = 200
valor2 = 300
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
else:
    if valor1 == valor2:
        print("Ambos valores son iguales")
    else:
        print("valor2 {} es mayor".format(valor2))

valor2 300 es mayor

### Este código se puede reescribir usando elif

In [79]:
valor1 = 100
valor2 = 100
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
elif valor1 == valor2:
    print("Ambos valores son iguales")
else:
    print("valor2 {} es mayor".format(valor2))

Ambos valores son iguales

### Operadores lógicos

Operador | Nombre | Ejemplo | Resultado |
:--------: | :-------:| :--------: | :------------------------:
**&** | y (and)| False & True | Devuelve **False**. Si ambos son True, devuelve True
**\|** | o (or)| False \| True | Devuelve **True**. Si al menos uno de True devuelve True
**!=** | distinto de (not)| True != True| Devuelve **False**. Devuelve lo opuesto al resultado de la evaluación

### Ejemplo

In [80]:
edad = 22
diestro = True
if edad >= 18:
    if diestro is True:
        print ("Usted es diestro y mayor de edad")

Usted es diestro y mayor de edad

In [81]:
#Se puede escribir aplicando and en el if
edad = 15
diestro = True
if edad >= 18 and diestro is True:
    print ("Usted es diestro y mayor de edad")
elif edad < 18 and diestro is True:
    print ("Usted es diestro y menor de edad")

Usted es diestro y menor de edad

### Listas
Las listas son un tipo de variable que contienen distintas variables de cualquier tipo en su interior.

In [1]:
lista1 = [1, 2, 3, 4]
lista2 = [1.5, 6.3, 8.9]
lista3 = ['Hola', 'mundo']

print(lista1)
print(lista2)
print(lista3)

[1, 2, 3, 4]
[1.5, 6.3, 8.9]
['Hola', 'mundo']

Las listas pueden contener diferentes tipos de datos

In [2]:
lista4 = [1, 'Hola, mundo!', 3.5]

print(lista4)

[1, 'Hola, mundo!', 3.5]

De la misma manera que con los elementos de las cadenas de caracteres, se puede acceder a los elementos de las listas de la siguiente manera:

In [3]:
print(lista4[0])
print(lista4[1])
print(lista4[2])

1
Hola, mundo!
3.5

### Otras variables
Exiten mas tipos de variables como los **diccionarios**, las **tuplas** y los **conjuntos**.
#### Diccionarios

In [5]:
dictionary = {'Asignatura 1' : 'Analisis de datos', 2 : ['a', 2, 3.0], 3.0 : 'Machine Learning', 'Asignatura 4' : 10}
print(dictionary)

{'Asignatura 1': 'Analisis de datos', 2: ['a', 2, 3.0], 3.0: 'Machine Learning', 'Asignatura 4': 10}

In [6]:
print(type(dictionary))

<class 'dict'>

In [7]:
print(dictionary['Asignatura 1'])

Analisis de datos

In [8]:
print(type(dictionary['Asignatura 1']))

<class 'str'>

In [9]:
print(dictionary[2])

['a', 2, 3.0]

In [10]:
print(type(dictionary[2]))

<class 'list'>

In [11]:
print(dictionary[3.0])

Machine Learning

In [12]:
print(type(dictionary[3.0]))

<class 'str'>

In [13]:
print(dictionary['Asignatura 4'])
print(type(dictionary['Asignatura 4']))

10
<class 'int'>

### Tupla
Una tupla es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis y separados por comas. Una tupla puede no contener ningún elemento, es decir, ser una tupla vacía.

In [15]:
tupla = ('Ai', 2, 5.0, 'DP')
print(tupla)

('Ai', 2, 5.0, 'DP')

In [16]:
print(tupla[2])
print(type(tupla[2]))

5.0
<class 'float'>

### Conjunto

Un conjunto es una set desordenado de valores no repetidos. Los conjuntos de Python son análogos a los conjuntos matemáticos. El tipo de datos que representa a los conjuntos se llama set. El tipo set es mutable: una vez que se ha creado un conjunto, puede ser modificado.

In [26]:
conjunto1 = {'a', 2, 3.0}
conjunto2 = {'a', 2, 4.0}
print(conjunto1)

{2, 3.0, 'a'}

In [27]:
# Valores no repetidos .add
conjunto1.add('a')
print(conjunto1)

{2, 3.0, 'a'}

In [28]:
conjunto1.add(3.0)
print(conjunto1)

{2, 3.0, 'a'}

In [29]:
print(conjunto1 & conjunto2)

{2, 'a'}

In [30]:
print(conjunto1 | conjunto2)

{2, 3.0, 4.0, 'a'}

In [32]:
# Le quita los valores comunes
print(conjunto1)
print(conjunto2)
print(conjunto1 - conjunto2)

{2, 3.0, 'a'}
{2, 4.0, 'a'}
{3.0}

In [34]:
a = (conjunto1 - conjunto2)
b = (conjunto2 - conjunto1)
c = (a,b)
c

({3.0}, {4.0})

###  Cortes de string (cadenas) y listas

Recordar que las posiciones en las cadenas de caracteres y listas empiezan a contar desde 0.

In [35]:
cadena4 = 'abcdefg'

In [36]:
print(cadena4[0:4])

abcd

En este caso, hemos puesto **[0:4]**, es decir, estamos extrayendo los elementos guardados en las posiciones 0, 1, 2 y 3. Es muy importante tener en cuenta que el primer valor (0) sí que se extraerá, pero no así el último.

In [37]:
lista5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [38]:
print(lista5[0:4])

['a', 'b', 'c', 'd']

In [40]:
#Otra forma de hacer lo mismo es colocar directamente [:posicion]. Se asume que parte de 0
print(cadena4[:4])

abcd

In [41]:
print(lista5[:4])

['a', 'b', 'c', 'd']

Aparte de acceder a los vectores por el primer elemento, también podemos acceder a ellos desde el último empleando el operador **-**

In [48]:
cadena4 = 'abcdefg'
print(cadena4[-3:-1])

ef

In [52]:
cadena4 = 'abcdefg'
print(cadena4[-7:])

abcdefg

In [54]:
print(cadena4[-1:])

g

In [55]:
lista5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(lista5[-3:])

['e', 'f', 'g']

In [61]:
#Podemos obtener la posicion de un caracter con index
cadena4 = 'abcdefghijklmn'
indice_c = cadena4.index('i') 
print(indice_c)

8

In [62]:
subcadena = cadena4[:indice_c]
print(subcadena)

abcdefgh

In [65]:
subcadena = cadena4[:indice_c-3]
print(subcadena)

abcde

## Ejercicio
Teniendo la siguiente cadena "cadena = "abcdefg" obtener:

Tips:
**cadena[ini:fin].**
#obtenemos la subcadena desde el principio hasta la posición 10
subcadena = cadena[:10]
#obtenemos la subcadena desde la posición 10 hasta el final
subcadena = cadena[10:]

1) Obtener solo "b, c, d"

In [66]:
cadena = "abcdefg"

2) Obtener "a, c, e"

In [68]:
cadena = "abcdefg"

"b, c, d"
print(cadena[1:4])

"a, c, e"
print(cadena[0:5:2])

bcd
ace

In [71]:

"dar la vuelta"
print(cadena[6::-1])
print(cadena[::-1])

"g, e, c"
print(cadena[:1:-2])

gfedcba
gfedcba
gec

# Ciclos o bucles y condiciones

In [72]:
a = 50

if a == 1:
    print('La variable "a" vale 1.')
elif a == 2:
    print('La variable "a" no vale 1, sino 2.')
else:
    print('La variable "a" no vale 1 ni 2.')

La variable "a" no vale 1 ni 2.

In [73]:
lista = ['a', 'b', 'd']

if 'b' in lista:
    print('El elemento "b" está contenido en "lista".')
else:
    print('El elemento "b" no está contenido en "lista".')

El elemento "b" está contenido en "lista".

### CICLO WHILE
La instrucción while nos permite ejecutar una o más operaciones mientras se cumpla una condición.

En algún momento algunas de las instrucciones dentro del bloque debe lograr que la condición no se cumpla. Dicho de otra forma, debe existir una condición de salida o término del ciclo.

~~~
while condicion:

    codigo a implementar
    
~~~
  
**Ejemplo**

In [74]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [75]:
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

## Uso de break y continue

In [76]:

i = -1
while i <= 10:
    i += 1
    if i == 2:
        continue
    if i == 7:
        break
    print(i)

0
1
3
4
5
6

In [77]:
numero = int(input('ingrese un número entero: '))

ingrese un número entero: 30

In [80]:
numero = 5 # se debe definir antes de entrar al while 

while numero <= 20:
    print(numero)
    #numero = numero + 3  # Acumulador
    numero +=3
    
print("\n El número {} fue la salida de la condición".format(numero))

5
8
11
14
17
20

 El número 23 fue la salida de la condición

### EJEMPLO 2 : Validación de entrada de datos utilizando un ciclo while

In [82]:
number = int(input("Ingresa un número entre 1 y 10:\n"))
contador = 1
while (number < 1 or number > 10) and contador < 3:
    print("El número ingresado no está entre 1 y 10")    
    #print("\n El número ingresado fue : ", number)
    contador +=1
    number = int(input("Ingresa un número entre 1 y 10: \n"))
    
if contador == 3:
    print('excede el número de intentos')
else:    
    print("\n El número ingresado fue : ", number)

Ingresa un número entre 1 y 10:
15
El número ingresado no está entre 1 y 10
Ingresa un número entre 1 y 10:
90
El número ingresado no está entre 1 y 10
Ingresa un número entre 1 y 10:
80
excede el número de intentos


## Bucles for


La sintaxis general de los bucles for es la siguiente:

~~~
for i in [1,2,3]:
    print(i)
~~~

In [84]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

#### Range

In [85]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
for i in range(0, 6):
    print(i)

0
1
2
3
4
5



Es importante darse cuenta de que el comando range(0, 3) crea una sucesión de números entre 0 y 2.

Los comandos break y continue pueden resultar muy útiles. El primero termina el bucle en el instante de su ejecución, y el segundo termina la iteración actual del bucle y pasa a la siguiente.

In [91]:
for i in range(0, 10):
    if i == 2:
        continue
    if i == 4:
        break
    print(i)

0
1
3



De la misma manera que ocurre con las condiones, las variables que empleamos como contador en los bucles no tienen por qué ser numéricas.

In [92]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
for i in a:
    print(i)

a
b
c
d
e
f
g

In [93]:
for i in "Alegría":
    print(i)

A
l
e
g
r
í
a

In [94]:
suma = 0
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)
    suma +=i
    #print(suma)
    print(i,suma)
    #break
    
print('\n La suma es: ' + str(suma))

1
1 1
2
2 3
3
3 6
4
4 10
5
5 15
6
6 21
7
7 28
8
8 36
9
9 45

 La suma es: 45