# Introducción a Python (parte2)

## Continuación clase anterior

Se recomienda ejecutar paso a paso estas celdas para ir repasando Python. Esto será la base para poder avanzar en el curso de análisis de datos, por lo que también puedes agregar código o comentar las celdas para ir practicando y recordando la sintaxis.

### En la clase pasada vimos strings....

Y pudimos ver que es posible concatenar dos string con ```+```
```
>>> primera_palabra = 'Hola'
>>> frase_completa = primera_palabra + ', mundo'
>>> print(frase_completa)
'Hola, mundo'
```

También se puede concatenar con el método ```str.join()``` el cual recibe como argumento una lista, de string que se desean concatenar.

In [1]:
strings = ['do', 're', 'mi']
separador = ' - '
separador.join(strings)

'do - re - mi'

In [2]:
#Si no queremos añadir un separado
strings = ['do', 're', 'mi']
''.join(strings)

'doremi'

> Este método tambien sirve para Tuplas, String y  Diccionarios

Y existe una tercera forma, que es con el método ```str.format()``` que lo vimos la clase pasada con el uso de ```print()```

In [3]:
# Ordenado por defecto:
frase = "Meses: {}, {} y {}".format('Enero','Febrero','Marzo')
print(frase)

# Especificar el orden indicando la posición:
frase = "Meses: {1}, {0} y {2}".format('Enero','Febrero','Marzo')
print(frase)

# Especificar el orden mediante parejas clave-valor:
frase = "Meses: {ene}, {feb} y {mar}".format(ene='Enero', feb='Febrero',mar='Marzo')
print(frase)

Meses: Enero, Febrero y Marzo
Meses: Febrero, Enero y Marzo
Meses: Enero, Febrero y Marzo

In [4]:
#Podemos también hacer uso directo del print()
print("Meses: {}, {} y {}".format('Enero','Febrero','Marzo'))
print("Meses: {1}, {0} y {2}".format('Enero','Febrero','Marzo'))
print("Meses: {ene}, {feb} y {mar}".format(ene='Enero', feb='Febrero',mar='Marzo'))

Meses: Enero, Febrero y Marzo
Meses: Febrero, Enero y Marzo
Meses: Enero, Febrero y Marzo

### No olvidar que podemos tener problemas si concatenamos variables deferentes (interger, float por ejemplo)

In [5]:
edad = 23
size_calzado = 7.3
print("Tengo " + edad + " años y calzo " + size_calzado)

TypeError: can only concatenate str (not "int") to str

#### Lo podemos solucionar con `str()`

In [ ]:
edad = 23
size_calzado = 7.3
print("Tengo " + str(edad) + " años y calzo " + str(size_calzado))

### Cadenas 'f' (f-strings)

Es una forma directa para insertar variables y expresiones en cadenas. Permiten introducir cualquier variable o expresión dentro de un string incluyendo la variable entre llaves `{ ` y `}`

In [ ]:
#Para indicar que se trata de un f-string, 
#este deberá incluir la letra 'f' antes del comiendo de la cadena 
#es decir, antes de las comillas. 

nombre = "Marcela"
edad = 52
saludo = f"Me llamo {nombre} y tengo {edad} años."
print(saludo)

In [ ]:
a = 4
b = 3
print(f"La multiplicación de {a} y {b} es igual a {a * b}")

## Recordar métodos útiles para String

| Método | Acción |
|--|--|
|len(str) |  devuelve la longitud del string |
|str.upper() | convierte a mayúsculas |
|str.lower() | convierte a minúsculas |
|str.title() | convierte a mayúsculas la primera letra de cada palabra
|str.count(substring [, inicio, fin]) | devuelve el número de veces que aparece |
|str.find(‘d’) | devuelve el índice de la primera aparición de 'd' (devolverá -1 si no lo encuentra)|
|substr in str | devuelve True si el string contiene el substring |
|str.replace(old, new [, count]) | reemplaza 'old' por 'new' un máximo de 'count' veces. |
|str.isnumeric() | devuelve True si str contiene solamente números|

## Operaciones de comparación

Operador | Nombre | Ejemplo | Resultado |
:--------: | :-------:| :--------: | :--------:
**==** | Igual a | 5 == 5 | True
**!=** | Distinto a | 5 != 5 | False
**>** | Mayor a | 6 > 6 | False
**>=** | Mayor o igual a | 6 >= 6 | True
**<**  | Menor a | 45 < 50 | True
**<=**  | Menor o igual a | 45 <= 44 | False

### Ejemplo para evaluar si un valor es mayor que otro usando **if**, en caso contrario se usa **else**

In [ ]:
valor1 = int(input("ingrese valor 1: "))

In [ ]:
valor2 = int(input("ingrese valor 2: "))

In [ ]:
if valor1 >= valor2:
    if valor1 == valor2:
        print("son iguales")
    elif valor1 > valor2:
        print("valor1 {} es mayor".format(valor1))
else:
    print("valor2 {} es mayor".format(valor2))

### ¿ Que pasa si ambos números son iguales?

In [ ]:
valor1 = 200
valor2 = 300
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
else:
    if valor1 == valor2:
        print("Ambos valores son iguales")
    else:
        print("valor2 {} es mayor".format(valor2))

### Este código se puede reescribir usando elif

In [ ]:
valor1 = 100
valor2 = 100
if valor1 > valor2:
    print("valor1 {} es mayor".format(valor1))
elif valor1 == valor2:
    print("Ambos valores son iguales")
else:
    print("valor2 {} es mayor".format(valor2))

### Operadores lógicos

Operador | Nombre | Ejemplo | Resultado |
:--------: | :-------:| :--------: | :------------------------:
**&** | y (and)| False & True | Devuelve **False**. Si ambos son True, devuelve True
**\|** | o (or)| False \| True | Devuelve **True**. Si al menos uno de True devuelve True
**!=** | distinto de (not)| True != True| Devuelve **False**. Devuelve lo opuesto al resultado de la evaluación

### Ejemplo

In [ ]:
edad = 22
diestro = True
if edad >= 18:
    if diestro is True:
        print ("Usted es diestro y mayor de edad")

In [ ]:
#Se puede escribir aplicando "and" en el if
edad = 15
diestro = True
if edad >= 18 and diestro is True:
    print ("Usted es diestro y mayor de edad")
elif edad < 18 and diestro is True:
    print ("Usted es diestro y menor de edad")

### Listas
Las listas son un tipo de variable que contienen distintas variables de cualquier tipo en su interior.

In [ ]:
lista1 = [1, 2, 3, 4]
lista2 = [1.5, 6.3, 8.9]
lista3 = ['Hola', 'mundo']

print(lista1)
print(lista2)
print(lista3)

Las listas pueden contener diferentes tipos de datos

In [ ]:
lista4 = [1, 'Hola, mundo!', 3.5]

print(lista4)

In [ ]:
#Se puede definir una lista vacía 
lista_vacia = []

De la misma manera que con los elementos de las cadenas de caracteres, se puede acceder a los elementos de las listas de la siguiente manera:

In [ ]:
print(lista4[0])
print(lista4[1])
print(lista4[2])

También se puede cambiar un elemento de una lista

In [ ]:
# Lista con valores
alumnos = ["Ane", "Unai", "Itziar", "Mikel"]
    
# Acceder a elementos
print(alumnos[0]) # muestra "Ane"
print(alumnos[1]) # muestra "Unai"
print(alumnos[2]) # muestra "Itziar"
print(alumnos[-1]) # muestra "Mikel"
    
# Cambiar un elemento
alumnos[0] = "Nora" 
print ("\nCambio nombre a la posicion cero:\n")
print (alumnos)

Los **métodos más utilizados** con las listas son los siguientes:

| Método | Acción |
|--|--|
| `alumnos.append("Javiera")` | Inserta "Javiera" al final de la lista |
| `alumnos.insert(0,"Javiera")` | Inserta "Javiera" en la posición 0 |
| `alumnos.remove("Javiera")` | Elimina la primera aparición de "Javiera" de la lista |
| `alumnos.pop()` | Elimina el último elemento de la lista |
| `alumnos.pop(3)` | Elimina el cuarto elemento de la lista |
| `alumnos.clear()` | Elimina todos los elementos de la lista |
| `alumnos.index("Javiera")` | Devuelve el índice de la primera aparición de "Javiera" |
| `alumnos.sort()` | Ordena la lista (los elementos deben ser comparables) |
| `sorted(alumnos)` | Devuelve una copia de la lista 'alumnos' ordenada   |
| `alumnos.reverse()` | Ordena la lista en orden inverso |
| `alumnos.copy()` | Devuelve una copia de la lista |
| `alumnos.extend(otra_lista)` | Fusiona las dos listas |

Podemos usar "+" para concatenar listas:

In [ ]:
alumnos2 = alumnos + ['nuevo item']
print(alumnos2)

Y se puede duplicar con "*"

In [ ]:
alumnos2 * 2

#### Iterar una lista

In [ ]:
new_list = alumnos2 * 2

for l in new_list:
    print(l)

Otra forma de iterar es usando range

In [ ]:
lista1 = [5, 9, 10]
for i in range(0, len(lista1)):
    print(lista1[i])

Y otra forma es usando while

In [ ]:
lista =  ['Python','JavaScript','JAVA']
i = 0
sizeofList = len(lista) 

while i < sizeofList :
    print("Programo en",lista[i]) 
    i += 1

### Diccionarios
Un diccionario en Python es una colección de elementos, donde cada uno tiene una ```llave``` key y un ```valor``` value. Los diccionarios se pueden crear con paréntesis ```{}``` separando con una coma ```,``` cada par ```key: value```. 

Las claves tienen que ser únicas y estar formadas por un string o un número. 

En el siguiente ejemplo tenemos tres keys que son el nombre, la edad y el documento.

In [ ]:
d1 = {
  "Nombre": "Sara",
  "Edad": 27,
  "Documento": 1003882
}
print(d1)

También podemos ver los diccionarios de le siguiente forma

In [ ]:
dictionary = {'Asignatura 1' : 'Analisis de datos', 2 : ['a', 2, 3.0], 3.0 : 'Machine Learning', 'Asignatura 4' : 10}
print(dictionary)

In [ ]:
#Con Type podemos saber que typo es la variable dictionary

print(type(dictionary))

In [ ]:
#Se puede acceder a mostrar la clave, si le entregamos la llave específica
print(dictionary['Asignatura 1'])

In [ ]:
#Dentro de un diccionario, se puede tener tipo string listas, etc. 
#Esto lo podemos saber con type, y entregando la llave para saber de que tipo es el valor.
print(type(dictionary[2]))
print(type(dictionary['Asignatura 1']))
print(type(dictionary[3.0]))

In [ ]:
print(dictionary[2])

In [ ]:
print(type(dictionary[2]))

In [ ]:
print(dictionary[3.0])

In [ ]:
print(type(dictionary[3.0]))

In [ ]:
print(dictionary['Asignatura 4'])
print(type(dictionary['Asignatura 4']))

#### Es posible usar el constructor `dict()` para crear un diccionario.

In [ ]:
d3 = dict(Nombre='Sara',
          Edad=27,
          Documento=1003882)
print(d3)

>Algunas propiedades de los diccionario en Python son las siguientes:

    -Son dinámicos, pueden crecer o decrecer, se pueden añadir o eliminar elementos.
    -Son indexados, los elementos del diccionario son accesibles a través del ```key```.
    -Y son anidados, un diccionario puede contener a otro diccionario en su campo ```value```.

#### ¿Cómo se puede acceder y modificar los elementos de un diccionario

Se puede acceder a los elementos con ```[]``` o con la función ```get()```

In [ ]:
dic1 = dict(Nombre='Juan',
            Edad=27,
            Sexo='F')


print(dic1['Nombre'])     
print(dic1.get('Nombre'))

Para modificar un elemento, se usa ```[]``` con el nombre del key y asignar el valor que queremos.

In [ ]:
dic1['Nombre']= "Luis"
print(dic1)

In [ ]:
estudiante = {
    "nombre": "Juan Pérez",
    "edad": 30,
    "gender": "M",
    "Diestro" : False
}

In [ ]:
# Acceder al valor de una clave
edad = estudiante["edad"] # devuelve el valor de 'edad'
gender = estudiante.get("gender") # devuelve el valor de 'gender'
print(edad)
print(gender)
print("=========")

# Insertar o actualizar un valor:
estudiante["edad"] = 25 # actualiza el valor de 'edad'
estudiante["curso"] = 3 # inserta una nueva pareja clave - valor
print(edad)
print(estudiante)
print("=========")


# insertar una pareja clave - valor o actualizar si ya existe:
estudiante.update({'aprobados':'8'})

print(estudiante)
print("=========")

#### Formas de recorrer un diccionario:

Es muy común recorrerlo con for

In [ ]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key in diccionario:
    print(key)

Otra forma equivalente de recorrerlo es

In [ ]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key in diccionario.keys():
    print (key)

Para iterar el diccionario accediendo a los valores se puede de hacer :

In [ ]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key in diccionario:
    print(diccionario[key])

In [ ]:
## Queremos mostrar la llave y el valor
for key in diccionario:
  print (key, ":", diccionario[key])

Otra forma es usando la función `items()` la cual devuelve un diccionario como tuplas `(key,value)`

In [ ]:
diccionario =  {'a':1,  'b':2,  'c':3}
for key, value in diccionario.items():
    print("El valor de %s is %d" % (key, value))

### Algunos de los métodos más utilizados son los siguientes:

| Método | Acción |
|--|--|
|diccionario.keys() 	| Devuelve todas las claves del diccionario |
|diccionario.values() |	Devuelve todos los valores del diccionario |
|diccionario.pop(clave) |	Elimina la clave del diccionario y devuelve su valor asociado. Si no lo encuentra devuelve error|
| diccionario.copy() | Retorna una copia del deccionario
|diccionario.clear() |	Vacía el diccionario |
|clave in diccionario |	Devuelve True si el diccionario contiene la clave o False en caso contrario.|
|valor in diccionario.values() |	Devuelve True si el diccionario contiene el valor o False en caso contrario.|

#### dic()
Recibe como parámetro una representación de un diccionario y si es factible, devuelve un diccionario de datos.

In [ ]:
dic =  dict(nombre='nestor', apellido='Plasencia', edad=22)
print(dic)

In [ ]:
print(type(dic))

#### zip()
Recibe como parámetro dos elementos iterables, ya sea una cadena, una lista o una tupla. Ambos parámetros deben tener el mismo número de elementos. Se devolverá un diccionario relacionando el elemento i-esimo de cada uno de los iterables.

In [ ]:
dic = dict(zip('abcd',[1,2,3,4]))
print(dic)

#### keys()
Retorna una lista de elementos, los cuales serán las keys de nuestro diccionario.

In [ ]:
dic = dict(zip('abcd',[1,2,3,4]))
keys= dic.keys()
print (keys)

In [ ]:
print(dic.keys())

#### values()
Retorna una lista de elementos, que serán los valores de nuestro diccionario.

In [ ]:
dic = dict(zip('abcd',[1,2,3,4]))
values= dic.values()
print(values)

#### pop()
Recibe como parámetro una clave, elimina esta y devuelve su valor. Si no lo encuentra, devuelve error.

In [ ]:
dic = dict(zip('abcd',[1,2,3,4]))
valor = dic.pop('b') 
print("valor:", valor)
print("diccionario final:", dic)

#### clear()
Elimina todos los ítems del diccionario dejándolo vacío.

In [ ]:
dic = dict(zip('abcd',[1,2,3,4]))
dic.clear()
print(dic)

#### get() : ```get(<key>[,<default>])```
El método get() nos permite consultar el value para un key determinado. El segundo parámetro es opcional, y en el caso de proporcionarlo es el valor a devolver si no se encuentra la key

In [ ]:
dic = dict(zip('abcd',[1,2,3,4]))
print(dic.get('a'))

In [ ]:
#si queremos saber el valor de un key pero no sabemos si está, para que no tire error podemos hacer :
dic = dict(zip('abcd',[1,2,3,4]))
print(dic.get('z', 'No encontrado'))

#### popitem()
Este método elimina de manera aleatoria un elemento del diccionario.

In [ ]:
dic = dict(zip('abcd',[1,2,3,4]))
dic.popitem()

In [ ]:
print(dic)

#### Diccionarios anidados
En Python los diccionarios pueden estar contenidos uno dentro de otro. Podemos ver como los valores anidado1 y anidado2 del diccionario d contienen a su vez otro diccionario.

In [ ]:
anidado1 = {"a": 1, "b": 2}
anidado2 = {"a": 1, "b": 2}
d = {
  "anidado1" : anidado1,
  "anidado2" : anidado2
}
print(d)

#### update()
El método update() se llama sobre un diccionario y tiene como entrada otro diccionario. Los value son actualizados y si alguna key del nuevo diccionario no esta, es añadida.

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'a': 0, 'd': 400}
d1.update(d2)
print(d1)

### Tupla
Una tupla es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis y separados por comas. Una tupla puede no contener ningún elemento, es decir, ser una tupla vacía.
Las tuplas son muy similares a las listas, pero con dos diferencias. 

- Son inmutables, lo que significa que no pueden ser modificadas una vez declaradas
- En vez de inicializarse con corchetes `{}` se hace con `()`

In [ ]:
tupla = ('Ai', 2, 5.0, 'DP')
print(tupla)

In [ ]:
print(tupla[2])
print(type(tupla[2]))

También pueden declararse sin `()`, separando por `,` todos sus elementos.

In [ ]:
tupla = 1, 2, 3
print(type(tupla)) 
print(tupla)

In [ ]:
# como sin inmutables, no se puede modificar el valor, intentemos  hacerlo para ver que pasa....
tupla = (1, 2, 3)
tupla[0] = 5

Al igual que las listas y los diccionarios, las tuplas también pueden ser anidadas

In [ ]:
tupla = 1, 2, ('a', 'b'), 3
print(tupla)      
print(tupla[2][0])

Es posible convertir una lista en tupla haciendo uso de al función ```tuple()```

In [ ]:
lista = [1, 2, 3]
tupla = tuple(lista)
print(type(tupla)) 
print(tupla)

Se puede también asignar el valor de una tupla con n elementos a n variables.

In [ ]:
l = (1, 2, 3)
a, b, c = l
print(a)
print(b)
print(c)

In [ ]:
#Se puede usar el metodo count() para contar un elemento dentro de la tupla
l = (1, 2, 3, 1, 4, 6, 7, 8, 9, 1, 4)

l.count(1)

### Conjunto

Un conjunto es una set desordenado de valores no repetidos. Los conjuntos de Python son análogos a los conjuntos matemáticos. El tipo de datos que representa a los conjuntos se llama set. El tipo set es mutable: una vez que se ha creado un conjunto, puede ser modificado.

In [ ]:
conjunto1 = {'a', 2, 3.0}
conjunto2 = {'a', 2, 4.0}
print(conjunto1)

In [ ]:
# Valores no repetidos .add
conjunto1.add('b')
print(conjunto1)

In [ ]:
# si añadimos un valor que ya esta en la lista no hace nada
conjunto1.add(3.0)
print(conjunto1)

**Input :**

A = (0, 2, 4, 6, 8)

B = (1, 2, 3, 4, 5)

**Output :**
 
 Union : (0, 1, 2, 3, 4, 5, 6, 8)
 
 Intersection : (2, 4)
 
 Difference : (8, 0, 6)
 
 Symmetric difference : (0, 1, 3, 5, 6, 8)
 
```
| for union.
& for intersection.
– for difference
^ for symmetric difference

```

In [ ]:
# Conjunto 1 y Conjunto 2 lo que tienen ambos en comun: intersección
print (conjunto1)
print (conjunto2)
print(conjunto1 & conjunto2)

In [ ]:
# Conjunto 1 o Conjunto 2 lo que se encuentra en conjunto1 o en el conjunto2: unión
print(conjunto1 | conjunto2)

In [ ]:
# Le quita los valores comunes
print(conjunto1)
print(conjunto2)
print(conjunto1 - conjunto2)

In [ ]:
a = (conjunto1 - conjunto2)
b = (conjunto2 - conjunto1)
c = (a,b)
c

###  Cortes de string (cadenas) y listas

Recordar que las posiciones en las cadenas de caracteres y listas empiezan a contar desde 0.

In [ ]:
cadena4 = 'abcdefg'

In [ ]:
print(cadena4[0:4])

En este caso, hemos puesto **[0:4]**, es decir, estamos extrayendo los elementos guardados en las posiciones 0, 1, 2 y 3. Es muy importante tener en cuenta que el primer valor (0) sí que se extraerá, pero no así el último.

In [ ]:
lista5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
print(lista5[0:4])

In [ ]:
#Otra forma de hacer lo mismo es colocar directamente [:posicion]. Se asume que parte de 0
print(cadena4[:4])

In [ ]:
print(lista5[:4])

Aparte de acceder a los vectores por el primer elemento, también podemos acceder a ellos desde el último empleando el operador `-`

In [ ]:
cadena4 = 'abcdefg'
print(cadena4[-3:-1])

In [ ]:
#Si queremos accder al ultimo elemento
print(cadena4[-1])

In [ ]:
# Que creen que aparece acá?
print(cadena4[-0])

In [ ]:
cadena4 = 'abcdefg'
print(cadena4[-7:])

In [ ]:
# acceder a todos los elementos menos el último
print(cadena4[:-1])

In [ ]:
lista5 = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(lista5[-3:])

In [ ]:
#Podemos obtener la posicion de un caracter con index
cadena4 = 'abcdefghijklmn'
indice_c = cadena4.index('i') 
print(indice_c)

In [ ]:
subcadena = cadena4[:indice_c]
print(subcadena)

In [ ]:
subcadena = cadena4[:indice_c-3]
print(subcadena)

## Ejercicios !
Teniendo la siguiente cadena "cadena = "abcdefg" obtener:

Tips:
**cadena[ini:fin].**
#obtenemos la subcadena desde el principio hasta la posición 10
subcadena = cadena[:10]
#obtenemos la subcadena desde la posición 10 hasta el final
subcadena = cadena[10:]

1) Obtener solo "b, c, d"

In [ ]:
cadena = "abcdefg"

2) Obtener "a, c, e"

3) Usando lo aprendido, como puedo obtener la cadena al revés?  gfedcba

4) obtener gec